
body{
    text-align: center;
    background-color:black;
    color:white;
    font-family: "BlockFont", serif;
  }

  .wrap{
    border-style: outset;
    border-color:black;
    border-width: 0 3px 0 3px;
    max-width: 900px;
    margin:2em auto;
    animation: rainbow 30s linear;
    animation-iteration-count: infinite;
  }

  h1{
    font-family: "HeaderFont", serif;
    font-size: 2.2em;
  }

  h2{
    font-family: "HeaderFont", serif;
    font-size: 1.7em;
  }

  .post{
    font-size: 1.2em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
    border-color:black;
    border-width: 2px 0 0 0;
    animation: rainbow 30s linear;
    animation-iteration-count: infinite;
  }

  a{
      color:rgb(0, 76, 255)
  }
  
  @font-face {
    font-family: 'BlockFont';
    src: url('WebPlus_IBM_VGA_8x16.woff');
  }

  @font-face {
    font-family: 'HeaderFont';
    src: url('Web437_EpsonMGA.woff');
  }

  @keyframes rainbow{
          0%{
            border-color:hsl(359, 100%, 62%);
            color: hsl(359, 100%, 62%);
          }
          
          25%{
            border-color:hsl(90,100%,50%);
            color: hsl(90,100%,50%);
          }
          
          50%{
            border-color:hsl(180,100%,50%);
            color: hsl(180,100%,50%)
            }
          75%{
            border-color:hsl(270, 100%, 63%);
            color: hsl(270, 100%, 63%);
          }
            
          100%{
            border-color:hsl(359, 100%, 62%);
            color: hsl(359, 100%, 62%);
          }
  }